.fed__grid {
  position: fixed;
  top: 120vh;
  right: 0;
  left: 0;
  height: 120vh;
  pointer-events: none;
  z-index: 9999999;
    

  &__container {
    background-color: rgba(pink, .2);
  }

  &__col {
    height: 100vh;
    background-color: rgba(pink, .4);
  }

  &--show {
    top: 0;
  }
}