.fed__pannel {
  $p: &;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  height: 30px;
  border-top-right-radius: 4px;
  overflow: hidden;
  z-index: 99999999;

  &--open {
    #{$p}__toggle-button {
      transform: scaleX(-1);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    // width: 100px;
    padding: 0 10px;
    padding-right: 20px;
    background-color: #181818;
    color: white;
    font-family: Roboto, monospace !important;
    font-size: 14px !important;
    line-height: 1 !important;
    letter-spacing: 1px !important;
    text-transform: lowercase !important;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    pointer-events: none;
    user-select: none;

    &--smaller {
      transform: scale(0.8);
    }

    &--smallerder {
      transform: scale(0.75);
    }
  }

  &__value {
    padding-left: 10px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    background-color: #202020;
    cursor: pointer;
    transition: 0.1s background-color;

    &:hover {
      background-color: #303030;
    }
  }
}

.fed__breakpoints-indicator:after {
  @each $breakpointSize, $breakpointVal in $grid-breakpoints {
    @include media-breakpoint-up($breakpointSize) {
      content: "#{$breakpointSize}";
    }
  }
}
