// required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";

.a {
  height: 75vh;
  background-color: #202020;
}
.b {
  height: 75vh;
  background-color: #151515;
}

// the debugger
@import "front-end-debug";
